{% extends 'base.html' %}

{% block content %}
<br>
<br>
  <h3 class="text-center">Личный кабинет пользователя {{ request.user }}</h3>
<br>
<h4 class="text-center">Ваши заказы</h4>
<table class="table">
    <tr style="background: lightblue;">
        <td class="text-center">Номер заказа</td>
        <td class="text-center">Дата заказа</td>
        <td class="text-center">Статус заказа</td>
        <td class="text-center">Стоимость заказа</td>
        <td class="text-center">Детали заказа</td>
        <td></td>
    </tr>
    {% for item in order %}
    <tr class="text-center" style="padding-top: 20px; padding-bottom: 20px;">
        <td class="text-center" style="padding-top: 20px; padding-bottom: 20px;">{{ item.id }}</td>
        <td class="text-center" style="padding-top: 20px; padding-bottom: 20px;">{{ item.date }}</td>
        <td class="text-center" style="padding-top: 20px; padding-bottom: 20px;">{{ item.status }}</td>
        <td class="text-center" style="padding-top: 20px; padding-bottom: 20px;">{{ item.total }}</td>
        <td class="text-center" style="padding-top: 20px; padding-bottom: 20px;"><button type="button" class="btn btn-primary btn-md" data-toggle="modal" data-target="#myModal-{{ item.id }}">
                Детали заказа</td>
    </tr>
    {% endfor %}
</table>
      
      {% for item in order %}
      <div class="modal fade" id="myModal-{{ item.id }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="myModalLabel">Заказ № {{ item.id  }}</h4>
            </div>
            <div class="modal-body">
            <h3>Товар</h3>
            <table class="table">
                {% for order_item in item.items.all %}
                  {% for ord_item in order_item.items.all %}
                <tr>
                    <td>{{ ord_item.product.title }}</td>
                    <td>{{ ord_item.qty}} шт.</td>
                    <td>{{ ord_item.item_total }} руб.</td>
                </tr>
                {% endfor %}
                <tr>
                    <td></td>
                    <td>Итого:</td>
                    <td><strong>{{ order_item.cart_total }}</strong> руб.</td>
                </tr>
                {% endfor %}
            </table>
            <h3>Заказчик</h3>
            <p>Имя: {{ item.first_name }}</p>
            <p>Фамилия: {{ item.last_name }}</p>
            <p>Телефон: {{ item.phone }}</p>
            <h3>Тип доставки:</h3>
            <p>{{ item.buying_type }}</p>
            <h3>Коментарии к заказу:</h3>
            <p>{{ item.comments }}</p>
            <h3>Адресс:</h3>
            <p>{{ item.address }}</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
{% endblock %}