{% extends 'base.html' %}
{% load static %}

{% block content %}
    <h3 class="text-center">Ваша корзина</h3>
    <br>
    <table class="table">
        <h3>
            <td class="text-center"><strong>Товар</strong></td>
            <td class="text-center"><strong>Кол-во</strong></td>
            <td class="text-center"><strong>Цена</strong></td>
            <td class="text-center"></td>
        </h3>
        {% for item in cart.items.all %}
           <tr class="cart-item-{{ item.product.id }}">
               <td class="text-center">{{ item.product.title }}</td>
               <td class="text-center">{{ item.qty }}</td>
               <td class="text-center">{{ item.item_total }}</td>
               <td class="text-center"><a href="#" class="remove_from_cart" data-slug="{{ item.product.slug }}" data-id="{{ item.product.id }}"><button class="btn btn-default">Удалить из корзины</button></a></td>
           </tr>
        {% endfor %}
    </table>
    <script src="{% static 'js/jquery.js' %}"></script>
    <script>
           $(document).ready(function(){
               $('.remove_from_cart' ).on('click', function(e){
                   e.preventDefault()
                   slug = $(this).attr('data-slug')
                   item_product_id = $(this).attr('data-id')
                   console.log(item_product_id)
                   data = {
                        slug: slug
                    }
                    $.ajax({
                        type: "GET",
                        url: "{% url 'remowe_from_cart' %}",
                        data: data,
                        success: function(data){
                            $('#cart_count').html(data.cart_total)
                            $('.cart-item-' + item_product_id).css('display', 'none')
                        }
                    })    
               })
           })
    </script>
{% endblock %} 