{% extends 'base.html' %}

{% block content %}
        <br>
        <div class="col-sm-4">
            <img src="{{ product.image.url }}" style="width: 80%; height: 250;">
        </div>
        <br>
        <div class="col-sm-8">
            <h3 class="text-center">{{ product.title }}</h3>
            <p>{% lorem %}</p>
            <p>{% lorem %}</p>
            <hr>
            <p style="font-size: 25px;">Цена: <strong>{{ product.price }}</strong></p>
            <a href="{% url 'add_to_cart' slug=product.slug %}"><button class="btn btn-danger">Добавить в корзину</button></a>
        </div>
     </div>
     <br>
{% endblock %} 